*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    background-color: #EDF0F1;
    position: relative;
}
a{
    text-decoration: none;
    font-family: 'Varela Round', sans-serif;
    cursor: pointer;
    font-size: 18px;
}
/* ===== HEADER STARTS ===== */
header{
    width: 100%;
    height: 11vh;
    display: flex;
    align-items: center;
    padding: 0 100px 0 100px;
    background-color: #fff;
    position: relative;
    z-index: 999;
}
.active{
    position: fixed;
    background-color: rgba(248,249,250,0.9);
    z-index: 9999;
}
.school-logo img{
    width: 67.5px;
    object-fit: cover;
}
.navigation-bar{
    display: flex;
    gap: 15px;
    justify-content: end;
    flex-basis: auto;
    flex-grow: 1;
}
.nav-links{
    display: flex;
    gap: 2.3rem;
    justify-content: flex-end;
    align-items: center;
    margin: auto;
    list-style: none;
}
/* home/about/courses on hover */
.nav-links a:hover{
    color: #009eef;
    transition: 0.3s;
}
header a{
    color: #757575;
}
.home{
    color: #009eef;
}
.nav-btns{
    display: flex;
    margin-right: 15px;
    align-items: center; 
}
.nav-btns a{
    border-radius: 30px;
    padding: 7px 15px;
    margin-left: 25px;
}
.nav-btns .login{
    background-color: #009eef;
    color: #fff;
    padding: 9px 28px;
    border: none;
}
/* login button on hover */
.nav-btns .login:hover{
    border: 1px solid #009eef;
    color: #009eef;
    background: transparent;
}
.nav-btns .signup{
    border: 1px solid #009eef;
    color: #009eef;
    background: transparent;
}
.nav-btns .signup:hover{
    background-color: #009eef;
    color: #fff;
}
.nav-btns a:hover{
    transition: 0.3s;
}
.nav--right{
    display: flex;
    gap: 15px;
    align-items: center;
}
.language{
    display: flex;
    align-items: center;
    /* background-color: #b30e60; */
}
.language img{
    width: 35px;
    height: 35px;

}
/* .english{
    display: none;
} */
.nav-icons{
    display: none;
}

/* ===== HEADLINE SECTION STARTS ===== */
.header{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 60px 100px;
}
.headline-text{
    padding: 40px 0;
}
.headline-heading{
    width: 88%;  
}
.headline-text h2{
    font-family: 'Plus Jakarta Sans', sans-serif;
    line-height: 60px;
    font-size: 55px;
    margin-bottom: 1.875rem;
    color: #009eef;
}
.headline-text span{
    color: #000;
}
.headline-text p{
    font-family: 'Varela Round', sans-serif;
    color: #574F4F;
    font-size: 1.125rem;   
}
.headline-btns{
    margin-top: 35px; 
    display: flex;
    align-items: center;
    gap: 20px;
}
.headline-btns a{
    padding: 20px 27px;
    border-radius: 50px;
    text-align: center;
    transition: 0.3s;
}
.headline-btns .explorecourses{
    background-color: #009eef;
    color: #fff;
    padding: 21px 27px;
}
/* explore courses on hover */
.headline-btns .explorecourses:hover{
    color: #009eef;
    background-color:#EDF0F1;
    border: 1px solid #009eef;
}
.headline-btns .learnmore{
    color: #009eef;
    border: 1px solid #009eef;
}
/* learn more on hover */
.headline-btns a:hover{
    background-color: #009eef;
    color: #fff;
}
.headline-btns a:hover{
    transition: 0.3s;
}
.headline-img{
    display: flex;
}
.headline-img img{
    width: 100%; 
}

/* ===== OUR POPULAR COURSES STARTS===== */
.popular-courses{
    width: 100%;
    padding: 60px 100px;
}
.title{
    width: 100%;
    margin: auto;
    font-family: 'Varela Round', sans-serif;
    font-size: 30px;
    color: #574F4F;
}
.title h2{
    text-align: center;
}
/* Search for courses and category block*/
.courses-categories{
    max-width: 580px;
    display: grid;
    grid-template-columns: 1.74fr 1fr;
    gap: 50px;
    justify-content: center;
    margin: auto;
    margin-top: 1.875rem;
}
.border-blue{
    box-shadow: 0 2px 6px 0 rgba(63,63,63,0.06);
    border: 1.5px solid #dcdcdc;
    background-color: #fff;
}
.border-blue:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 1.5px solid #009eef;
}
.search-course{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 20px 17px ;
    border-radius: 50px;
}
.search-course input{
    width: 80%;
    border: none;
    outline: none;
    font-size: 18px;
    font-family: 'Varela Round', sans-serif;
    color: #000;
}
.search-course input::placeholder{
    color: #000;
}
.find-categories{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 25px;
    align-items: center;
    border-radius: 50px;
    font-family: 'Varela Round', sans-serif;
    position: relative;
    cursor: pointer;
    /*  */
}
.find-categories span{
    font-size: 18px;
    padding: 20px 17px;
}
.find-categories i{
    padding: 0px 17px;
}
.display-categories{
    min-width: 100%;
    position: absolute;
    display: none;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-auto-columns: 1fr;
    grid-row-gap: 24px;
    background-color: #fff;
    top: 65px;
    border-radius: 15px;
    border: 1.5px solid #dcdcdc;
    z-index: 1;
    padding: 15px;
    transition: 3s; 
}
.find-categories:hover .display-categories{
    display: grid;
    transition: 3s;
}
.display-categories a{
    color: #000;
   justify-self: flex-start; 
   cursor: pointer;
}
.display-categories a:hover{
    color: #009eef;
}

/* flexbox popular courses */
.course-box{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    align-items: center;
    gap: 35px;
    padding: 45px 0;
 }
 .course{
    height: 30rem;
    min-height: 100%;
    border: 2px solid #ffffff;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    overflow: hidden;
 }
 .course:hover{
    transform: scale(1.1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.3s;
} 
.image-box{
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;
    transform: translate(0);
}
  .course img{
    max-width: 396px;
    object-fit: cover;
    transition: 0.3s;
    border: 0;
    display: inline-block;
 }
 .course-content{
    background-color: #fff;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    padding: 24px 30px ;
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    justify-content: space-around;
 }
 .cat-price{
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 15px;
 }
 .cat-price span{
    padding: 10px 15px;
    border-radius: 30px;
    font-size: 14px;
    color: #000;
 } 
 .cat-price .cat--name{
    color: #fff;
    background-color: #F17D12;
 }
 .cat-price .price{
    border: 1px solid #000;
    font-weight: bold;
 }
 .course--name{   
    margin-bottom: 15px;
 }
 .course p{
    color: #000;
    font-size: 18px;
 }
.bi-play-fill{
    font-size: 22px;
}
.course .divider{
    margin-top: auto;
    margin: 15px 0;
    background-color:#dcdcdc ;
    height: 1px;
}
.videos-duration {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 10px;
}
.videos-duration .bi{
    color: #000;
}
.videos-duration .videos{
    display: flex;
    align-items: center;  
}
.videos-duration .duration{
    display: flex;
    align-items: center;
    gap: 5px;  
}
.videos-duration span{
    color: #292D32;
    font-weight: 700;
}
.courses-btn{
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.courses-btn a{
    text-align: center;
    text-decoration: none;
    color: #fff;
    border-radius: 30px;
    padding: 17px 30px;
    background-color: #009eef;
    font-family: 'Varela Round', sans-serif;
    font-size: 18px;
}
.courses-btn a:hover{
    color: #009eef;
    background-color:#EDF0F1;
    border: 1px solid #009eef;
    transition: 0.3s;
}

/* =====OVERVIEW SECTION STARTS ===== */
.overview{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 40px;
    padding: 60px 100px;
    background-color: #fff; 
}
.overview-img{
   display: flex;
   align-items: center;
   justify-content: center;
}
.overview-img img{
    width: 100%;
}
.overview-content{
    font-family: 'Varela Round', sans-serif;
}
.overview-headline{
    width: 100%;
    margin: auto;
}
.overview-headline h2{
    font-size: 40px;
    font-weight: 200;
    line-height: 40px;
    margin:0;
}
.overview-headline h3{
    font-size: 30px;
    color: #574F4F;
    font-weight: 300; 
    margin: 25px 0 0 0;
}
.overview-headline p{
    font-size: 16px;
    color: #574F4F;
    font-weight: 500;
    margin: 20px 0 0 0;
    line-height: 23px;
}
.overview-btn{
    width: 100%;
    margin-top: 50px;
}
.overview-btn a{
    width: fit-content;
    text-decoration: none;
    color: #fff;
    padding: 18px 45px;
    background-color: #009eef;
    font-size: 18px;
    border-radius: 50px;
}
.overview-btn a:hover{
    color: #009eef;
    background: transparent;
    border: 1px solid #009eef;
    transition: 0.3s;
}


/* =====COURSE CATEGORIES STARTS =====*/
.categories{
    width: 100%;
    padding: 60px 100px ;
}.category-grid{
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    margin-top: 50px;
}
.course--category{
    width: 100%;
    max-width: 556px;  
}
.course-category{
    max-width: 100%;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    align-items: center;
    gap: 24px;
}
.category-img{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 35px;
}
.category-img img{
    object-fit: cover;
    transition: all 0.5s;
}
.course--category:hover img{
    transform: rotate(8deg);
    transition: all 0.5s;
}
.course--category:hover .bi{
    margin-left: 9px;
    transition: all 0.3s;
}
/* category content */
.category-content{
    max-width: 342px;
    margin-left: 0%;
}
.category-content h2{
font-size: 24px;
color: #000;
margin-bottom: 8px;
}
.category-content  p{
    font-size: 16px;
    color: #515151;
    margin-bottom: 24px;
}
/* category links */
.category-btns{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    flex-wrap: wrap;
}
.explore-link{
    display: flex;
    gap: 5px;
    align-items: center;
}
.explore-link span{
    color: #000;
    font-size: 17px;
    font-weight: bold;
}
.explore-link i{
    color: #000;
    font-size: xx-large;
    transition: all 0.3s;
}
.crse{
    width: fit-content;
    padding: 9px 15px;
    background-color: #009eef;
    border-radius: 30px;
    color: #fff; 
    text-align: center;
}


/* ===== ABOUT SECTION STARTS ===== */
.about{
    width: 100%;
    background-color: #fff;
    padding: 60px 100px;
}
.about-seed{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    align-items: center;
}
.about-content{
    font-family: 'Varela Round', sans-serif;
}
.about-text{
    width: 95%;
}
.about-text p{
    line-height: 1.3;
    color: #574f4f;
    font-size: 18px;
    margin-top: 30px;
}
.about-text h2{
    font-size: 40px;
    color: #574F4F;
}
.about-btns{
    width: fit-content;
    margin-top: 50px;
}
.about-btns a{
    text-decoration: none;
    background-color: #009eef;
    color: #fff;
    padding: 18px 45px;
    border-radius: 50px;
    font-size: 18px;
}
.about-btns a:hover{
    color: #009eef;
    background:transparent;
    border: 1px solid #009eef;
    transition: 0.3s;
}
.about-img{
    height:100%;
   display: flex;
   align-items: center;
}.about-img img{
    width: 100%;
}

/* ==========FAQs STARTS========== */
.faqs{
    width: 100%;
    padding: 40px 100px;
}
.faq-grid{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-top: 40px;
}
.faq{
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    background-color: #aaddf7;
    cursor: pointer;
    gap: 1.4rem;
    padding: 2rem;
    font-family: 'Varela Round', sans-serif;
    transition: all 3s;
}
.faq-icon{
    font-size: 20px;
    align-self: flex-start;
    margin-top: 7px;
    /* background-color: #0E28B3; */
}
.faq h4{
    font-size: 17px;
    line-height: 2.2;
}
.faq p{
    font-size: 17px;
    margin-top: 0.3rem;
    display: none;
    line-height: 1.3;
}
.faq.open p{
    display: block;
    transition: all 3s;
}

/* ===========FOOTER STARTS========== */
footer{
    width: 100%;
    background-color: #343A40;
    padding: 60px 100px 0 ;
    font-family: 'Varela Round', sans-serif;
    color: #fff;
}
.footer-top{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;  
}
footer img{
    max-width: 75px;

}
.footer-top p{
    max-width: 378px;
    font-size: 18px;
}
.divider-footer{
    opacity: .15;
    background-color: #fff;
    height: 1px;
    width: 100%;
}
.divider-top{
    margin-top:34px ;
    margin-bottom: 100px;
}
.divider-bottom{
    margin-top: 100px;
    margin-bottom: 24px;
}
.footer-middle{
    display: flex;
    justify-content: space-between;
    margin-bottom: -26px;
}
/* Subscribe to newsletter */
 .subscribe{
    max-width: 396px;
    margin-right: 30px;
}
.email-icon{
    width: 60px;
    height: 60px;
    background-color: #009eef;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px;
}
.email-icon .bi-envelope-fill{
    font-size: 30px;
    color: #fff;
}
.subscribe h2{
    margin-bottom: 12px;
    font-size: 24px;
}
.subscribe p{
    font-size: 18px;
    font-weight: 200;
}
.submit-email{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 50px;
    padding: 9px 13px 9px 0;
    margin-top: 20px;
    position: relative;
}
.submit-email input{
    width: 100%;
    border: none;
    outline: none;
    font-family: 'Varela Round', sans-serif;
    color: #574f4f;
    font-size: 17px;
    display: block;
    border-radius: 30px;
    padding: 15px 17px;
}
.submit-email button{
    text-decoration: none;
    text-align: center;
    color: #fff;    
    background-color: #009eef;
    padding: 15px 22px ;
    border-radius: 50px;
    font-weight: bold;
    border: none;
    transition: 0.3s;
}
.submit-email button:hover{
    transform: scale(0.9);
    transition: 0.3s;
}

.middle-3-col{
    width: 100%;
    max-width: 659px;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    flex: 1 1 0%;
}
.contact-us li{
    max-width: 265px;
}

.footer-list li{
   list-style: none;
   margin-top: 30px;
}
.footer-list span{
    font-weight: bold;
}
footer a{
color: #fff;
}
.footer-list a:hover{
color: #009eef;
transition: 0.3s;
}
.footer-bottom{
    width: 99%;
    display: flex;
    gap: 15px;
    justify-content: space-between;
}
.footer-bottom span{
    font-size: 18px;
    margin-bottom: 24px;
}
.footer-bottom .media a{
    margin-left: 13px;
    padding: 6px 8px ;
    background-color: #62778F;
    border-radius: 100px;
    font-size: 18px; 
   box-sizing: border-box; 
}
.footer-bottom .media a:hover{
    background-color: #009eef; 
    transition: 0.5s;
}


/* =====MEDIA QUERIES=====*/
/* Breakpoint: 991 */
@media screen and (max-width:991px) {
    .reveal, .header{
        padding-left: 40px;
        padding-right: 40px;
    }
    /* Header */
    header{
        height: 5rem;
        padding: 0 40px 0 40px;
        gap: 3rem; 
    }
    .school-logo{
        position: absolute;
        left: 40px;
    }  
    header .navigation-bar{
        width: 100%;
        position: fixed;
        top: 81px;
        right: 0px;
        background-color: #EDF0F1;
        display: none;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 0 rgba(0, 0, 0, 0.19);
    }
    .nav-links{
        flex-direction: column; 
        gap: 0;
    }
    .nav-links li{
        display: block;
        line-height: 30px;
        width: 100%;
    }
    .nav-links li:hover{
        background-color: #009eef; 
        transition: 0.3s;    
    }
    .nav-links li a{
        color: #009eef;
        display: grid;
        place-items: center;
        padding: 15px 0;

    }
    .nav-links li:hover a{
        color: #ffffff;
    }
    .nav-btns{
        justify-content: center;
        margin: 15px 0;
    }
    .nav--right{
        position: fixed;
        right: 40px;
    }
    .nav-icons{
        display: inline-block;
        color: #000;
    }
    header .bi{
        font-size: 1.5rem;
        cursor: pointer;
    }
    header .bi-x{
        display: none;
    }
    
   /* headline  */
   .header{
    padding: 0 40px 0 40px;
   }
    .header{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    .headline-img{
        display: flex;
        justify-content: center;
    }
    .headline-img img{
        width: 100%;
    }
    .popular-courses{
        padding: 45px 40px; 
    }
    .course-box{
        grid-template-columns: repeat(2, 1fr);
    }
    .course-btn{
        margin: auto;
    }
    .overview{
        grid-template-columns: auto;
    }
    .overview-headline{
        width: 80%;
        margin: auto;
        text-align: center;
    }
    .course-category{
        flex-direction: column;
        align-items: flex-start;
    }
    .category-img{
        justify-content: flex-start;
    }
    .about-seed{
        grid-template-columns: auto;
        row-gap: 24px;
    }
    .about-text{
        width: 80%;
        margin: auto;
        text-align: center;
    }
    .about-text p{
        margin-top: 20px;
    }
    .about-btns{
        margin: auto;
        margin-top: 35px;
    }
    .footer-middle{
        flex-direction: column;
        gap: 34px;
    }
    .footer-bottom{
        flex-wrap: wrap-reverse;
    }
}

/* Breakpoint: 767 */
@media screen and (max-width:767px) {
    
    .reveal, .header{
        padding-left: 20px;
        padding-right: 20px;
    }
   
    .headline-heading h2{
        font-size: 45px;
        line-height: 48px;
    }
    .course-box{
        grid-template-columns: 1fr;
    }
    .course:hover{
        transform: none;
    }
    .category-grid{
        grid-template-columns: 1fr;  
    }
    .course-category{
        flex-direction: row;
    }
    .category-content{
        max-width: 100%;
    }
    .faq-grid{
        grid-template-columns: 1fr;
    }
    .about-text, .overview-headline{
        width: 100%;
    }
    .footer-top{
        flex-direction: column;
        gap: 10px;
        align-items: flex-start;
    }
    .middle-3-col{
        flex-wrap: wrap;
        gap: 50px;
    }
}

/* Breakpoint: 479px */
@media screen and (max-width:479px){
    .reveal, .header{
        padding-left: 16px;
        padding-right: 16px;
    }
    p,a, input{
    font-size: 14px;
}
    .headline-btns {
        flex-direction: column;
    }
    .headline-btns a{
        width: 100%;
    }
    .courses-categories{
        grid-template-columns: 1fr;
        gap: 15px;
    }
    .course-category{
        flex-direction: column;
    }
    /* .title h2{
        font-size: 20px;
    } */
    .overview-headline{
        width: 100%;
       margin: 0%;
       text-align: start;
    }
    .overview-headline h2{
        font-size: 35px;
    }
    .about-text{
        margin: 0%;
        width: 100%;
        text-align: start;
    }
    .submit-email{
        flex-direction: column;
        background: transparent;
        gap: 15px;
    }
    .submit-email input, .submit-email button{
        width: 100%;
    }
    .submit-email button{
        padding: 18px 0;
    }  
}



/* Reveal elements on scroll section */
.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s;
}
.reveal.reveal-section{
    transform: translateY(0);
    opacity: 1;
}

