*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    background-color: #EDF0F1;
    position: relative;
}
a{
    text-decoration: none;
    font-family: 'Varela Round', sans-serif;
    cursor: pointer;
    font-size: 18px;
}
p, span{
    font-size: 18px;
}
header{
    width: 100%;
    height: 11vh;
    display: flex;
    align-items: center;
    padding: 0 100px 0 100px;
    background-color: #fff;
    position: relative;
    top: 0;
}
.active{
    position: fixed;
    background-color: rgba(248,249,250,0.9);
    z-index: 9999;
}
.school-logo img{
    width: 67.5px;
    object-fit: cover;
}
.navigation-bar{
    display: flex;
    justify-content: end;
    flex-basis: auto;
    flex-grow: 1;
}
.nav-links{
    display: flex;
    gap: 2.3rem;
    justify-content: flex-end;
    align-items: center;
    margin: auto;
    list-style: none;
    z-index: 9999;
}
/* home/about/courses on hover */
.nav-links a:hover{
    color: #009eef;
    transition: 0.3s;
}
header a{
    color: #757575;
}
.home{
    color: #009eef;
}
.nav-btns{
    display: flex;
    margin-right: 15px;
    align-items: center; 
}
.nav-btns a{
    border-radius: 30px;
    padding: 7px 15px;
    margin-left: 25px;
}
.nav-btns .login{
    background-color: #009eef;
    color: #fff;
    padding: 9px 28px;
    border: none;
}
/* login button on hover */
.nav-btns .login:hover{
    border: 1px solid #009eef;
    color: #009eef;
    background: transparent;
}
.nav-btns .signup{
    border: 1px solid #009eef;
    color: #009eef;
    background: transparent;
}
.nav-btns .signup:hover{
    background-color: #009eef;
    color: #fff;
}
.nav-btns a:hover{
    transition: 0.3s;
}
.nav--right{
    display: flex;
    gap: 15px;
    align-items: center;
}
.language{
    display: flex;
    align-items: center;
    /* background-color: #b30e60; */
}
.language img{
    width: 35px;
    height: 35px;

}
/* .english{
    display: none;
} */
.nav-icons{
    display: none;
}

/* ===== HEADER SECTION BEGINS ===== */
.header{
    width: 100%;
    padding:0 100px 0 100px ;
}
.header-heading{
    margin: 35px auto 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 2rem;
    font-family: 'Varela Round', sans-serif;
}
.header-heading span{
    padding: 0.6rem 0.9rem;
    color: #fff;
    background-color: #F17D12;
    text-decoration: none;
    border-radius: 1.9rem;
    font-size: 16px;
}
.header-heading p{
    text-align: center;
    font-size: 2.5rem;
    max-width: 60%;
    font-weight: 600;
}

.course-details{
    max-width: 856px;
    border-radius: 3rem;
    margin:15px auto 15px;
    
}
.details{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    font-size: 1.3rem;
    font-family: 'Varela Round', sans-serif;
}
.details li{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 5px;
}
.details .bi{
    font-size: 35px;
    color: #009eef;
    
}
.video-player{
    max-width:  100%; 
    margin: auto;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
video{
    max-height: 500px;
    border: none;
    outline: none;
    object-fit: cover;
    border-radius: 24px;
}
video[poster]{
    width: 85%;
    color: #fff;
    background-color:  #343A40;
}
/* About course */
.about-course{
    padding: 0 100px;
    width: 100%; 
    align-items: center;
    margin: 2rem auto;
    text-align: center;
}
.description-text{
    width: 75%;
    margin: auto;
}
.about-course h3{
    font-size: 2.3rem;
    color: #000;
    margin-bottom: 1.5rem;
   
}
.about-course p{
    line-height: 1.8rem;
    margin-bottom: 3rem;
}
.syllabus-text{
    width: 75%;
    margin: auto;
}
.overflow--scroll{
    
    height: 250px;
    overflow: scroll;
    background-color: #bfe4f7;
    padding: 35px;
    border: 1px solid #dcdcdc;
}


/* DOWN BAR */
.down-bar{
    width: 100%; 
    background-color: #fff;
    padding: 35px 100px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    z-index: 9999;
    font-family: 'Varela Round', sans-serif;
    border-top: 0.1rem solid #dcdcdc;
}
.down-bar .price{
    max-width: 315px;
    
}
.down-bar p{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 1rem;
}
.down-bar span{
    color: #009eef;
    font-weight: bold;
    font-size: 25px;
}
.down-bar a{
    padding: 15px 35px;
    border-radius: 50px;
    border: 1px solid #009eef;
    background-color: #009eef;
    font-size: 18px;
    font-family: 'Varela Round', sans-serif;
    color: #fff;
}




/* ===========FOOTER BEGINS========== */
footer{
    width: 100%;
    background-color: #343A40;
    padding: 60px 100px 0 ;
    font-family: 'Varela Round', sans-serif;
    color: #fff;
}
.footer-top{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;  
}
footer img{
    max-width: 75px;

}
.footer-top p{
    max-width: 378px;
}
.divider-footer{
    opacity: .15;
    background-color: #fff;
    height: 1px;
    width: 100%;
}
.divider-top{
    margin-top:34px ;
    margin-bottom: 100px;
}
.divider-bottom{
    margin-top: 100px;
    margin-bottom: 24px;
}
.footer-middle{
    display: flex;
    justify-content: space-between;
    margin-bottom: -26px;
}
/* Subscribe to newsletter */
 .subscribe{
    max-width: 396px;
    margin-right: 30px;
}
.email-icon{
    width: 60px;
    height: 60px;
    background-color: #009eef;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px;
}
.email-icon .bi-envelope-fill{
    font-size: 30px;
    color: #fff;
}
.subscribe h2{
    margin-bottom: 12px;
    font-size: 24px;
}
.subscribe p{
    font-weight: 200;
}
.submit-email{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 50px;
    padding: 9px 13px 9px 0;
    margin-top: 20px;
    position: relative;
}
.submit-email input{
    width: 100%;
    border: none;
    outline: none;
    font-family: 'Varela Round', sans-serif;
    color: #574f4f;
    font-size: 17px;
    display: block;
    border-radius: 30px;
    padding: 15px 17px;
}

.submit-email button{
    text-decoration: none;
    text-align: center;
    color: #fff;    
    background-color: #009eef;
    padding: 15px 22px ;
    border-radius: 50px;
    font-weight: bold;
    border: none;
    transition: 0.3s;
}
.submit-email button:hover{
    transform: scale(0.9);
    transition: 0.3s;
}

.middle-3-col{
    width: 100%;
    max-width: 659px;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    flex: 1 1 0%;
}
.contact-us li{
    max-width: 265px;
}

.footer-list li{
   list-style: none;
   margin-top: 30px;
}
.footer-list span{
    font-weight: bold;
}
footer a{
color: #fff;
}
.footer-list a:hover{
color: #009eef;
transition: 0.3s;
}
.footer-bottom{
    width: 99%;
    display: flex;
    gap: 15px;
    justify-content: space-between;
}
.footer-bottom span{
    font-size: 18px;
    margin-bottom: 24px;
}
.footer-bottom .media a{
    margin-left: 13px;
    padding: 6px 8px ;
    background-color: #62778F;
    border-radius: 100px;
    font-size: 18px; 
   box-sizing: border-box; 
}
.footer-bottom .media a:hover{
    background-color: #009eef; 
    transition: 0.5s;
}


/* =====MEDIA QUERIES=====*/
/* Tablets */
@media screen and (max-width:991px) {
    .reveal, .header, .down-bar{
        padding-left: 40px;
        padding-right: 40px;
    }

    /* Header */
    header{
        height: 5rem;
        padding: 0 40px 0 40px;
        gap: 3rem; 
    }
    .school-logo{
        position: absolute;
        left: 40px;
    }  
    header .navigation-bar{
        width: 100%;
        position: fixed;
        top: 81px;
        right: 0px;
        background-color: #EDF0F1;
        display: none;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 0 rgba(0, 0, 0, 0.19);
    }
    .nav-links{
        flex-direction: column; 
        gap: 0;
    }
    .nav-links li{
        display: block;
        line-height: 30px;
        width: 100%;
    }
    .nav-links li:hover{
        background-color: #009eef; 
        transition: 0.3s;    
    }
    .nav-links li a{
        color: #009eef;
        display: grid;
        place-items: center;
        padding: 15px 0;

    }
    .nav-links li:hover a{
        color: #ffffff;
    }
    .nav-btns{
        justify-content: center;
        margin: 15px 0;
    }
    .nav--right{
        position: fixed;
        right: 40px;
    }
    .nav-icons{
        display: inline-block;
        color: #000;
    }
    header .bi{
        font-size: 1.5rem;
        cursor: pointer;
    }
    header .bi-x{
        display: none;
    }
    .header-heading h3{
        max-width: 100%;
        font-size: 35px;
    }
    
    /* footer */
    .footer-middle{
        flex-direction: column;
        gap: 34px;
        align-items: flex-start;
    }
    .footer-bottom{
        flex-wrap: wrap-reverse;
    }
    
}

/* Breakpoint:767px */
@media screen and (max-width:767px){
    .reveal, .header, .down-bar{
        padding-left: 20px;
        padding-right: 20px;
    }
    p,span,a{
        font-size: 16px;
    }
    .header-heading h3{
        font-size: 28px;
    }
    .footer-top{
        flex-direction: column;
        gap: 10px;
        align-items: flex-start;
    }
    .middle-3-col{
        flex-wrap: wrap;
        gap: 50px;
    }
    .description-text{
        width: 100%; 
    }
    .syllabus-text{
        width: 100%;
    }
    .down-bar{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .down-bar p{
        font-size: 18px;
    }
    .down-bar span{
        font-size: 20px;
    }
}

/* Breakpoint:479px */
@media screen and (max-width:479px){
    .reveal, .header, .down-bar{
        padding-left: 16px;
        padding-right: 16px;
    }
    .submit-email{
        flex-direction: column;
        background: transparent;
        gap: 15px;
    }
    .submit-email input, .submit-email button{
        width: 100%;
    }
    .submit-email button{
        padding: 18px 0;
    }  
}

/* Reveal elements on scroll section */
.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s;
}
.reveal.reveal-section{
    transform: translateY(0);
    opacity: 1;
}

